*.bam
*fastq.gz
*.rds
*bam/
*fastq/
*counts/
*quants/
*/*_delta_*/*/
*_GENESET/

DAC/combined_analysis/mtyl_enrichment/*_GENESET
DAC/combined_analysis/mtyl_enrichment/*.log
DAC/meRIP-seq/arxiv/
DAC/meRIP-seq/radar/
DAC/meRIP-seq/meRIP-multiqc_data/
DAC/meRIP-seq/fire/
DAC/meRIP-seq/fire-old/
DAC/meRIP-seq/exomepeak/

DAC/RNA-seq/scallop-genome/
DAC/RNA-seq/stbl-counts/
DAC/RNA-seq/stbl-output/
DAC/RNA-seq/miso/
DAC/RNA-seq/suppa

DAC/Ribo-seq/Archive

DAC/CRISPRi-screen/*/process_screen_output/

DAC/SLAM-seq/slamdunk_output/

DAC-rg3039/RNA-seq/diffexp/
DAC-rg3039/synergy/ctg/
DAC-rg3039/synergy/compusyn

*__pycache__/
*.ipynb_checkpoints/
*.DS_Store
