*.bam
*fastq.gz
*bam/
*fastq/
*counts/
*quants/
*_delta_*/*/
*_GENESET/

combined_analysis/mtyl_enrichment/*_GENESET
combined_analysis/mtyl_enrichment/*.log
meRIP-seq/arxiv/
meRIP-seq/radar/
meRIP-seq/meRIP-multiqc_data/
meRIP-seq/fire/
meRIP-seq/fire-old/
meRIP-seq/exomepeak/

RNA-seq/scallop-genome/
RNA-seq/stbl-counts/
RNA-seq/stbl-output/
RNA-seq/miso/

Ribo-seq/Archive/

CRISPRi-screen/*/process_screen_output/

SLAM-seq/slamdunk_output/

*__pycache__/
*.ipynb_checkpoints/
*.DS_Store

