*.bam
*fastq.gz
*bam/
*fastq/
*counts/
*quants/

combined_analysis/*.log
meRIP-seq/arxiv/
meRIP-seq/radar/
meRIP-seq/meRIP-multiqc_data/
meRIP-seq/fire/
meRIP-seq/fire-old/
RNA-seq/scallop-genome/
RNA-seq/stbl-counts/
RNA-seq/stbl-output/
Ribo-seq/Ribolog/
CRISPRi-screen/*/process_screen_output/

*__pycache__/
*.ipynb_checkpoints/
*.DS_Store

